@charset "UTF-8";
.container{
    background-color: #808080;
    display: grid;
    grid-gap: 10px;
    margin: 20px;
    grid-template-areas: 
    "header header header header"
    "menu conteudo conteudo conteudo"
    "anuncio conteudo conteudo conteudo"
    "rodape rodape rodape rodape"      
    ;
    
}
.item{
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
}
header{
    grid-area: header;
}
nav{
    grid-area: menu;
}
section{
    grid-area: conteudo;
}
footer{
    grid-area: rodape
}
div.item{
    grid-area: anuncio;
}
@media (max-width: 750px){
    .container{
        grid-template-areas: 
        "header header header menu"
        "conteudo conteudo conteudo conteudo"
        "anuncio anuncio anuncio anuncio"
        "rodape rodape rodape rodape"
        
        ;
    }
}