@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
fieldset{
    margin: 10px;
    width: calc(70% - 20px);
    border-radius: 26px;
   background-image: linear-gradient(to top, rgba(0, 0, 255, 0.315), rgba(0, 0, 0, 0.548));
}
legend{
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(9, 9, 102, 0.938);
    color: white;
    padding: 8px;
}
form{
    margin: 15px;
    
}
input{
    margin: 10px;
    border-radius: 6px;
    padding: 5px;
    
}
label{
    border: 1px solid black;
    padding: 8px;
    margin: 5px;
    background-color: rgba(127, 255, 212, 0.322);
    border-radius: 6px;
}
label:hover{
    background-color: rgba(165, 42, 42, 0.301);
    text-decoration: underline;
}
