@charset "UTF-8";
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    background-image: linear-gradient(to bottom, blue, rgb(47, 47, 247));
    color: white;
    padding: 15px;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
   
}
a:hover{
    background-image: linear-gradient(to top, rgb(125, 125, 245), rgb(68, 68, 240));
    font-weight: bolder;
    border: 1px solid black;
    transition: 0.5s;
    box-shadow: 1px 1px 5px blueviolet;
}